body{
    background-color: white;
    color: black;
}

nav, footer{
    text-align: center;
    background-color: #680a7f;
    color: white;
}

header {
    font-size: x-large;
    text-align: center;
    background-color: #680a7f;
    color: white;
}

main{
    text-align: center;
}

a { /*links within nav container */
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none; /*removes underline*/
    color: white; /*by default, links are blue */
    text-align: center;
}

a:hover { /* psuedo class */
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .6s; /* transistion effect */
}

#current-page {
    color: #008CFF;
}

#me, #welcomeText {
  float: left;
  font-size: 1.1em;
  text-align: left;
  width: 30%;
  height: 30%
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#table-header {
    background-color: #4286f4;
}

.table-row {
    background-color: #7fb0ff;
}

ul {
    text-align: left;
    padding-left: 200px;
}

.hobby {
    color: #680a7f;
}


footer {
  clear: left;
  font-size: smaller;
}

hr {
    width: 200%;
}

#csumb {
    width: 10%;
    height: 10%;
}

#content {
    text-align: center;
}